.featured {
    background-image: url('../../../assets/home/banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.featured button{
    color: white;
}